.catalog {
    &-title {
        padding: 35px 0;
        font-size: 80px;
        text-align: center;
        background-color: var(--green03-color);
        color: var(--white-color);
        border-bottom: 2px solid var(--black-color);
    }

    &-wrapper {
        padding: 55px 0;
        border-bottom: 2px solid var(--black-color);
    }

    &__card {
        &-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 30px;
            row-gap: 30px;
        }

        &-item {
            position: relative;
            padding: 50px 0;
            width: 420px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-img {
            margin-bottom: 19px;
        }

        &-title {
            margin-bottom: 10px;
            font-size: 40px;
        } 

        &-size {
            margin-bottom: 17px;
            color: #797272;
            font-size: 25px;
        }

        &-bottom {
            margin-bottom: 17px;
            display: flex;
            align-items: center;
            column-gap: 29px;
        }

        &-price {
            font-size: 40px;
        }

        &-like {
            cursor: pointer;

            & path {
                transition: fill 0.3s, stroke 0.3s ease;
            }

            &:hover path {
                fill: var(--yellow-color);
                stroke: var(--yellow-color);
            }
        }
    }

    &__bonus {
        position: absolute;
        top: 30px;
        right: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 101px;
        height: 101px;
        border-radius: 50%;
        background-color: var(--yellow-color);
        justify-content: center;

        &-text {
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 576px) {
    .catalog {
        &-title {
            font-size: 40px;
        }

        &__card {
            &-list {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            &-item {
                width: 300px;
            }

            &-img {
                margin-bottom: 23px;
                max-width: 73%;
            }

            &-title {
                margin-bottom: 16px;
                font-size: 25px;
            }

            &-size {
                margin-bottom: 24px;
                font-size: 20px;
            }

            &-bottom {
                margin-bottom: 25px;
                column-gap: 20px;
            }

            &-price {
                font-size: 30px;
            }

            &-like {

                & svg {
                    width: 22px;
                    height: 18px;
                }
            }
        }

        &__bonus {
            width: 81px;
            height: 81px;
            top: 20px;
            right: 20px;

            &-text {
                font-size: 18px;
            }

            &-icon {
                width: 47px;
                height: 24px;
            }
        }
    }
}