.products {

    &-wrapper {
        background-color: var(--green03-color);
        border-bottom: 2px solid var(--black-color);
        border-top: 2px solid var(--black-color);
    }

    &-inner {
        display: flex;
        justify-content: flex-end;
    }

    &-img {
        position: absolute;
        left: 0;
    }

    &__nav {
        padding-top: 45px;
        padding-bottom: 33px;

        &-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 10px;
            row-gap: 47px;
        }

        &-item {
            cursor: pointer;
            width: 210px;

            &:hover h3 {
                color: var(--black-color);
            }
        }

        &-title {
            margin-top: 16px;
            font-size: 36px;
            color: var(--white-color);
            text-align: center;

            transition: color 0.3s ease;
        }
    }
}

@media screen and (max-width: 576px) {
    .products {
        &-inner {
            display: unset;
        }

        &-img {
            display: none;
        }

        &__nav {

            &-list {
                grid-template-columns: repeat(2, 1fr);
                column-gap: 20px;
                row-gap: 19px;
            }

            &-item {
                width: 140px;
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                justify-self: center;
            }

            &-img {
                width: 140px;
                height: 140px;
            }

            &-title {
                margin-top: 0;
                font-size: 30px;

                &.edit {
                    font-size: 28px;
                }
            }
        }
    }
}