@font-face {
    font-family: "Bahnschrift";
    src : url("../../fonts/Bahnschrift/Bahnschrift.ttf");
}

@font-face {
    font-family: "ExposureCTwo";
    src : url("../../fonts/Bahnschrift/ExposureCTwo.ttf");
}